body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: black;
}

.top-nav-bar {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #132043;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.nav-items {
  width: 50%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  padding: 0px;
}

.nav-items li {
  cursor: pointer;
  margin: 0px;
  list-style: none;
  width: 100%;
}

.nav-items a {
  display: flex;
  justify-content: center;
  padding: 15px;
  color: white;
  cursor: pointer;
}

.nav-items a:hover {
  color: #f1b4bb;
}

.nav-items li:hover {
  background-color: #1f4172;
}

.my-name {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.hidden {
  display: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-container {
  width: 90vw;
  background-color: #1f4172;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  margin-top: 53.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-container {
  height: 80vh;
  width: 50%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-disc {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.img-sulav {
  height: 100%;
  width: 80%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.my-disc span {
  color: darkorange;
}

.me-1 {
  font-size: 40px;
  padding: 0px;
  margin: 10px;
  font-weight: bold;
  color: white;
}

.me-2 {
  color: white;
  padding: 0px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.about-me {
  padding: 12px 30px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  margin: 10px;
  background-color: darkorange;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: bold;
}

.about-me:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

@media (max-width: 700px) {
  .top-left {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0px 10px;
  }

  .my-name {
    margin-left: 20px;
  }

  .bars {
    margin-right: 20px;
  }

  .top-nav-bar {
    flex-direction: column;
  }

  .nav-items {
    flex-direction: column;
    width: 100%;
    padding: 15px 0px;
  }

  .hidden {
    display: block;
  }

  .hide {
    display: none;
  }

  .top-left {
    padding: 15px 0px;
  }

  .nav-items a {
    padding-left: 0px;
    width: 100%;
    height: 100%;
  }

  .home-container {
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    width: 100%;
    height: 53vh;
  }

  .img-sulav {
    width: 80%;
    height: 100%;
    object-fit: cover;
  }

  .my-disc {
    display: flex;
    justify-content: center;
    padding: 0px;
    display: block;
  }

  .me-1 {
    font-size: 30px;
  }

  .me-2 {
    font-size: 20px;
  }
}
